@using Microsoft.AspNetCore.Identity
@using Models.Enums
@using Models
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<Models.Appointment>

@inject IHtmlLocalizer<GardenPlanner_Web.SharedResource> _sharedLocalizer

@{
	ViewData["Title"] = _sharedLocalizer["Appointments"];

	Appointment? appointment = null;
	if (ViewData["UserId"] != null && ViewBag.UserId.ToString() != "") {
		appointment = new() {
			AgendaUserId = ViewBag.UserId.ToString(),
			Date = DateTime.Now,
			AppointmentTypeId = ViewBag.AppointmentTypeId.ToString(),
			Description = string.Empty,
			Title = string.Empty
		};
	}
}

<div class="makebubbly overflow-x-scroll" style="border-collapse: initial;">
	<h1 class="text-light">@ViewData["Title"]</h1>

	<hr />
	<table>
		<thead class="thead-design">
			<tr>
				<th class="table-header">
					@Html.DisplayNameFor(model => model.Date)
				</th>
				<th class="table-header">
					@Html.DisplayNameFor(model => model.Title)
				</th>
				<th class="table-header">
					@Html.DisplayNameFor(model => model.Description)
				</th>
				<th class="table-header">
					@Html.DisplayNameFor(model => model.AppointmentType)
				</th>
				@if (User.IsInRole("UserAdmin") || User.IsInRole("Admin") || User.IsInRole("Employee")) {
					<th class="table-header">
						@Html.DisplayNameFor(model => model.IsApproved)
					</th>
					<th class="table-header">
						@Html.DisplayNameFor(model => model.IsCompleted)
					</th>
				}
				<th class="table-header"></th>
			</tr>
		</thead>
		<tbody>
			@if (appointment != null) {
				<partial name="Create" model="appointment" />
				<tr class="makebubbly table-ruler"></tr>
			}

			@if (Model != null) {
				@foreach (var item in Model) {
					<partial name="Edit" model="item" />
				}
			}
		</tbody>
	</table>
</div>

