@using Microsoft.AspNetCore.Mvc.Localization
@model Models.ToDo

@inject IHtmlLocalizer<GardenPlanner_Web.SharedResource> _sharedLocalizer

@{
	ViewData["Title"] = _sharedLocalizer["Delete"];
}

<h1 class="text-light">@ViewData["Title"]</h1>

<h3 class="text-light">@_sharedLocalizer["Are you sure you want to delete this?"]</h3>
<div class="text-light">
	<h4>@_sharedLocalizer["ToDo"]</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Created)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Created)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Deleted)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Deleted)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Description)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Ready)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Ready)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Appointment)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.AppointmentId)
		</dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="@_sharedLocalizer["Delete"]" class="btn btn-danger" /> |
		<a asp-action="Index" asp-route-id="@Model.AppointmentId">@_sharedLocalizer["Back to List"]</a>
	</form>
</div>
