@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<GardenPlanner_Web.SharedResource> _sharedLocalizer


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - GardenPlanner</title>
	<script type="importmap"></script>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/GardenPlanner_Web.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm nav-gradient">
			<div class="nav-container">
				<a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">GardenPlanner</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-bar flex-grow-1">
						<li class="nav-button">
							<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">@_sharedLocalizer["Home"]</a>
						</li>
						@if (User.IsInRole("User") || User.IsInRole("UserAdmin") || User.IsInRole("Admin") || User.IsInRole("Employee")) {
							<li class="nav-button">
								<a class="nav-link text-light" asp-area="" asp-controller="Appointments" asp-action="Index">@_sharedLocalizer["Appointments"]</a>
							</li>
						}
						@if (User.IsInRole("UserAdmin") || User.IsInRole("Admin") || User.IsInRole("Employee")) {
							<li class="nav-button">
								<a class="nav-link text-light" asp-area="" asp-controller="Vehicles" asp-action="Index">@_sharedLocalizer["Vehicles"]</a>
							</li>
							<li class="nav-button">
								<a class="nav-link text-light" asp-area="" asp-controller="AppointmentTypes" asp-action="Index">@_sharedLocalizer["Appointment Types"]</a>
							</li>
						}
						<li class="nav-button">
							<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">@_sharedLocalizer["Privacy"]</a>
						</li>

						<partial name="_LoginPartial" />

					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="footer text-light" style="background: linear-gradient(0deg,rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);">
		<div class="container">
			&copy; 2025 - GardenPlanner - <a asp-area="" asp-controller="Home" asp-action="Privacy">@_sharedLocalizer["Privacy"]</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

@* https://iili.io/fTGVyuf.png *@
<svg style="display:none;">
	<filter id="displacementFilter"
			width="100%" height="100%">

		<feTurbulence type="turbulence"
					  baseFrequency="0.05"
					  numOctaves="2"
					  result="turbulence" />

		<feImage xlink:href="https://iili.io/fTGVyuf.png"
				 result="dispMap" />

		<feDisplacementMap in="turbulence"
						   in2="dispMap"
						   scale="50"
						   xChannelSelector="R"
						   yChannelSelector="G" />
	</filter>
</svg>

</html>
